<div class="row">
    <div class="col-xs-2 col-sm-2 border">content left</div>
    <div class="col-xs-6 col-sm-6 border" id="main-content">
      <div class="row">
        <div class="col-xs-6">
          Width <input id="w-input" type="number" class="form-control">
        </div>
        <div class="col-xs-6">
          Height <input id="h-input" type="number" class="form-control">
        </div>
        <div class="col-xs-12 text-right" style="padding: 3px;">
          <button id="set-size" class="btn btn-primary">Set</button>
        </div> 
      </div>
      canvas
      <canvas id="myChart"></canvas>
  
    </div>
    <div class="col-xs-2 col-sm-2 border">content right</div>
  </div>