<!DOCTYPE html>
<html>
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Turner Calendario</title>
  <script type="text/javascript" src="../js/test.js" async defer></script>

</head>
<body>
  <div class="container">
      <div class="col-md-7">
    
        <h3 class="text-muted">Clique abaixo e salve o evento</h3>
     
        </div>
    </div>

<div class="container">
<div title="Add to Calendar" class="addeventatc">
    Adicione ao Calendario
    <span class="start">02/18/2020 02:00 PM</span>
    <span class="end">02/18/2020 04:00 PM</span>
    <span class="timezone">America/America/Sao_Paulo</span>
    <span class="title">Inicio UEFA Champions League</span>
    <span class="description">Assista na TNT ou EI PLus</span>
    <span class="location"></span>
</div>
</div>



</body>

</html>


