
<%- include ('layouts/head') -%>
<div class="container3">
    TV
        <ul>
            <div class="op2">
                <li>Inserções</li>
                <li>123456</li>
            </div>
            <div class="op2">             
                <li>Alcance (%)</li>
                <li>45%</li>
            </div>
            <div class="op2">
                <li>Alcance (abs)</li>
                <li>123132</li>
            </div>
            <div class="op2"> 
                <li>Frequência</li>
                <li>34</li>
            </div>
            <div class="op2">
                <li>Impactos</li>
                <li>851</li>
            </div>          
            <div class="op2">
                <li>TRP</li>
                <li>2345</li>
            </div>                                                        
        </ul>
    
    
</div>
<div class="container4">
    Digital
</div>
<div class="container2">    
     
    <div class="op1">        
       <a> Facebook </a>
        <canvas id="myChart" class="myChart" ></canvas>                                
    </div>
    <div class="op1">        
        <a>Twitter</a>
        <canvas id="myChart2" class="myChart2" ></canvas>           
    </div>
    <div class="op1">    
        <a>Youtube    </a>    
        <canvas id="myChart3" class="myChart3" ></canvas>        
    </div>
</div>

<%- include ('layouts/footer') -%>
